#articleTemplate {
  .header-container {
    position: relative;
    .article-title {
      position: absolute;
      bottom: 32px;
      left: 32px;
      color: $white;
    }
  }
  .article-row {
    margin: 75px 0px;
    padding: 0px 15px;
    .metadata-container {
      margin-top: 15px;
      .eyebrow {
        margin-bottom: 5px;
      }
      .social {
        a {
          margin-right: 15px;
        }
      }
    }
    .video-container {
      // margin-bottom: 50px;
      // width: 100%;
      div {
        // width: 100% !important;
        // height: 456px !important;
      }
    }
    .audio-container {
      margin-bottom: 50px;
      width: 100%;
      div {
        width: 100% !important;
        height: auto !important;
      }
    }

    .article-container {
      h1,
      h2,
      h3 {
        margin-bottom: 56px;
      }
      p {
        margin: 24px 0px;
      }
    }
  }
}
