a:hover {
  // cursor: url("../images/cursors/pointer.png"), auto !important;
}

.button {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.full-width {
    width: 100%;
  }
  &.primary {
    width: 292px;
    height: 80px;
    background-color: $black;
    color: $white;
    opacity: 1;
    transition: opacity 500ms Cubic-bezier(0.33, 1, 0.33, 1);
    &:hover {
      opacity: 0.8;
      transition: opacity 500ms Cubic-bezier(0.33, 1, 0.33, 1);
    }
  }
  &.secondary {
    background-color: $transparent;
    border: 1px solid $black;
    padding: 30px 80px 24px;
    transition: all 500ms Cubic-bezier(0.33, 1, 0.33, 1);
    span {
      margin: 0;
    }
    &:hover {
      background-color: $black;
      border-color: $black;
      color: $white;
      transition: all 500ms Cubic-bezier(0.33, 1, 0.33, 1);
    }
  }
  @media (max-width: map-get($grid-breakpoints,md)) {
    &.secondary {
      width: 100%;
      display: flex;
      padding: 30px 0px 24px;
      justify-content: center;
    }
  }
}

.header-gap {
  padding-top: 150px;
}

.spx {
  padding-left: 20px;
  padding-right: 20px;
}
